# --- Telegram ---
TELEGRAM_BOT_TOKEN=8622139164:AAF0YqGg7GvsOR1xLDjdGBcW3wotOrJt6pY
TELEGRAM_CHANNEL_ID=@your_channel_username
CRON_SCHEDULE=*/10 * * * *

# --- PAJ rate source ---
PAJ_ENV=production
